code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  CUSTOM CSS  */
.para {
  font-size: 1.2em;
  color: #161212;
  font-style: italic;
  margin: 30px 0;
}

.big {
  color: #1a4dbd;
  font-size: 2em;
  font-weight: 700;
}

.rolled12 {
  color: rgb(197, 23, 23);
}